RewriteEngine On
RewriteBase /acnt/

# Redirect ugly URLs (e.g., .php) to pretty ones
RewriteCond %{THE_REQUEST} \s/+acnt/([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]

# Rewrite to .php if file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+?)/?$ $1.php [L]


# Custom Pretty URL Mappings
RewriteRule ^NewBusiness/Proprietorship/?$ Module/NewBusiness/Proprietorship.php [L]
RewriteRule ^NewBusiness/PartnershipFirm/?$ Module/NewBusiness/PartnershipFirm.php [L]
RewriteRule ^NewBusiness/OnepersonCompany/?$ Module/NewBusiness/OnepersonCompany.php [L]
RewriteRule ^NewBusiness/LimitedLiabilityPartnerhsip/?$ Module/NewBusiness/LimitedLiabilityPartnerhsip.php [L]
RewriteRule ^NewBusiness/PrivateLimitedCompany/?$ Module/NewBusiness/PrivateLimitedCompany.php [L]
RewriteRule ^NewBusiness/PublicLimitedCompany/?$ Module/NewBusiness/PublicLimitedCompany.php [L]
RewriteRule ^NewBusiness/ProducerCompany/?$ Module/NewBusiness/ProducerCompany.php [L]
RewriteRule ^Registration/Pan/?$ Module/Registration/Pan.php [L]
RewriteRule ^Registration/Tan/?$ Module/Registration/Tan.php [L]
RewriteRule ^Registration/Gst/?$ Module/Registration/Gst.php [L]
RewriteRule ^Registration/MsmeUdyam/?$ Module/Registration/MsmeUdyam.php [L]
RewriteRule ^Registration/RegistrarofFirm/?$ Module/Registration/RegistrarofFirm.php [L]
RewriteRule ^Registration/ImportExport/?$ Module/Registration/ImportExport.php [L]
RewriteRule ^Registration/LegalEntityIndetifier/?$ Module/Registration/LegalEntityIndetifier.php [L]
RewriteRule ^Registration/Pf/?$ Module/Registration/Pf.php [L]
RewriteRule ^Registration/ESIC/?$ Module/Registration/ESIC.php [L]
RewriteRule ^Registration/ProfessionalTax/?$ Module/Registration/ProfessionalTax.php [L]
RewriteRule ^Registration/FSSAI/?$ Module/Registration/FSSAI.php [L]
RewriteRule ^Registration/ICEGATE/?$ Module/Registration/ICEGATE.php [L]
RewriteRule ^Registration/HalalLicense/?$ Module/Registration/HalalLicense.php [L]
RewriteRule ^Registration/TradeLicense/?$ Module/Registration/TradeLicense.php [L]
RewriteRule ^Registration/IsoRegistration/?$ Module/Registration/IsoRegistration.php [L]
RewriteRule ^Registration/RcmcRegistration/?$ Module/Registration/RcmcRegistration.php [L]
RewriteRule ^IncomeTax/IncomeTaxEFiling/?$ Module/IncomeTax/IncomeTaxEFiling.php [L]
RewriteRule ^IncomeTax/TDSReturnFiling/?$ Module/IncomeTax/TDSReturnFiling.php [L]
RewriteRule ^IncomeTax/Tracesregistration/?$ Module/IncomeTax/Tracesregistration.php [L]
RewriteRule ^IncomeTax/IncomeTexNotice/?$ Module/IncomeTax/IncomeTexNotice.php [L]
RewriteRule ^IncomeTax/Incometaxappealfilingassistance/?$ Module/IncomeTax/Incometaxappealfilingassistance.php [L]
RewriteRule ^IncomeTax/IncomeTaxauditassistance/?$ Module/IncomeTax/IncomeTaxauditassistance.php [L]
RewriteRule ^IncomeTax/15CA-15CBcertificatesassistance/?$ Module/IncomeTax/15CA-15CBcertificatesassistance.php [L]
RewriteRule ^Finance/CmaDataPreparation/?$ Module/Finance/CmaDataPreparation.php [L]
RewriteRule ^Finance/BankLoanAssistance/?$ Module/Finance/BankLoanAssistance.php [L]
RewriteRule ^Finance/CcOdLimits/?$ Module/Finance/CcOdLimits.php [L]
RewriteRule ^Finance/WCTL/?$ Module/Finance/WCTL.php [L]
RewriteRule ^Finance/MortgateLLP/?$ Module/Finance/MortgateLLP.php [L]
RewriteRule ^Finance/ReFinance/?$ Module/Finance/ReFinance.php [L]
RewriteRule ^Finance/PrivateEquity/?$ Module/Finance/PrivateEquity.php [L]
RewriteRule ^Finance/NewProjectLoan/?$ Module/Finance/NewProjectLoan.php [L]
RewriteRule ^Finance/ExpansionLoan/?$ Module/Finance/ExpansionLoan.php [L]
RewriteRule ^Finance/TakeOverLoan/?$ Module/Finance/TakeOverLoan.php [L]
RewriteRule ^Finance/ValuatiionOfGujarat/?$ Module/Finance/ValuatiionOfGujarat.php [L]
RewriteRule ^License/FSSAI/?$ Module/License/FSSAI.php [L]
RewriteRule ^License/Drug/?$ Module/License/Drug.php [L]
RewriteRule ^License/Halal/?$ Module/License/Halal.php [L]
RewriteRule ^GST/GST/?$ Module/GST/GST.php [L]
RewriteRule ^GST/GSTReturn/?$ Module/GST/GSTReturn.php [L]
RewriteRule ^GST/GSTAnnualReturn/?$ Module/GST/GSTAnnualReturn.php [L]
RewriteRule ^GST/GSTEInvoicing/?$ Module/GST/GSTEInvoicing.php [L]
RewriteRule ^GST/GSTLUT/?$ Module/GST/GSTLUT.php [L]
RewriteRule ^GST/GSTNotice/?$ Module/GST/GSTNotice.php [L]
RewriteRule ^GST/GSTAmendment/?$ Module/GST/GSTAmendment.php [L]
RewriteRule ^GST/GSTRevocation/?$ Module/GST/GSTRevocation.php [L]
RewriteRule ^GST/GSTR10/?$ Module/GST/GSTR10.php [L]
RewriteRule ^GST/GSTDepartmentAudit/?$ Module/GST/GSTDepartmentAudit.php [L]
RewriteRule ^GST/GSTAudit/?$ Module/GST/GSTAudit.php [L]
RewriteRule ^GST/GSTAppealFiling/?$ Module/GST/GSTAppealFiling.php [L]
RewriteRule ^GST/GSTOtherAdvisory/?$ Module/GST/GSTOtherAdvisory.php [L]
RewriteRule ^about/?$ assets/Layout/about.php [L]
